/* CSS Mobile */


/* @media screen and (max-width: 768px) */


 
 /* HEADER */
 
 nav img{

    margin-left: 33px;
}

 nav {
     flex-direction: column;
 }



 header nav ul {
    
    width: 100%;
   
}

header nav ul li {
    width: 50%;
    border-bottom: 3px solid grey;
   
    border-top: none;
}

header nav ul li:hover{
    width: 50%;
    border-bottom: 3px solid blue;
    
}



.housing-list a article{

    padding: 0%;
    margin-left: 12px;
    margin-right: 12px;
}

.IntroduceBooki{

    padding-left: 4%;
    padding-right: 4%;
}


 
 /* PADDING ET MARGIN */
 
 .button-research{

    
 }

 .research-box{

    max-width: 97%;
 }
 
 .research-box button-research {
     border-radius: 15px;
 }
 

 
 #filters {
     flex-direction: column;
     align-items: flex-start;
 }
 
 #housing .housing-marseille{
   background-color: white;
    border-radius: 0%;
 
 }

 #housing .housing-list article{

    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
 }

 .housing-list a article {
 background-color: white;
 box-shadow: 0px 0px 10px 0px #e0e0e0;

 }
 
 #housing .housing-marseille {
     order: 2;
     
 }
 
 #housing .populaire {
 
     order: 1;
 }
 
 
 
 #housing .housing-marseille {
    max-width: 100%; 
 }
 
 .housing-marseille > div > div > a > article > img {
 
 }
 /* ORGANISATION / FLEX */
 
 #housing .marseille .hebergement-list {
     flex-direction: column;
 }
 
 #housing .housing-marseille a {
     width: 100%;
 }
 
 #activite .activite-list .column {
     width: 100%;
 }
 
 .activite-list .column article,
 .activite-list .column.double article {
     height: 250px;
     margin-bottom: 20px;
 }
 
 footer {
     flex-direction: column;
 }
 
 footer .column{
 
     margin-left: 2.5%;
 }
 
 
 /* PADDING ET MARGIN */

 article{

    margin: 1%;

 }
 
 #activite {
 
     padding-left: 3%;
     padding-right: 3%;
    
    
    }
     #housing .housing-marseille{

        padding-left: 2.5%;
     }
 

 
 .container{
 margin: 0%;

    
 }
 
 
 /* Les plus populaires */
 
 #housing .populaire .housing-list a article img {
     border-radius: 25px 0px 0px 25px;
     width: 35%;
     height :150px;
     width: 150px;
     }
 
 #housing .populaire{

    border-radius: 0%;
 }
    
 #housing .populaire h2 {

    padding-left: 2.5%;
}



 .housing-marseille article{

    border-radius: 25px 0px 0px 25px;
   background-size: 2%;
    background-color: #F2F2F2;
 }