/* CSS Mobile */


/* @media screen and (max-width: 768px) */


 
 /* HEADER : Nav */
 
 nav {
    flex-direction: column;
   }

nav img{
    margin-left: 33px;
    }

 header nav ul {
    
    width: 100%;
   
}

header nav ul li {
    width: 50%;
    border-bottom: 3px solid grey;
   
    border-top: none;
}

header nav ul li:hover{
    width: 50%;
    border-bottom: 3px solid blue;
    
}

/* Filtres / Barre de recherche / Texte */

.IntroduceBooki{

    padding-left: 2.5%;
    padding-right: 2.5%;
}

/* Barre de recherche */
 
 
.research-box{

    max-width: 97%;
    margin-bottom: 15px;
 }
 
 .research-box button-research {
     border-radius: 15px;
    
 }


 .button-research{

    display: none;
 }

 
 .fa-magnifying-glass {

    display: block;
    border: none;
    border-radius: 0 14px 14px 0;
    background-color: #0065fc;
    color: white;
    font-weight: 700;
    font-size: 16px;
    padding: 17px;
    cursor: pointer;
    width: auto;
   }

/* Filtres */
 
 #filters {
     flex-direction: column;
     align-items: flex-start;
 }

/* Plus de 500 logements */

 div.info{

    padding-bottom: 5%;
 }

/* Conteneur */

.container{
    margin: 0%;
    }
 
/* Hébergements */

/* Article */

article{

    margin: 1%;

 }

.housing-list a {

    margin-bottom: 15px;
    
}

.housing-list a article{

    padding: 0%;
   
    margin-left: 20px;
    margin-right: 20px;
    
}

#housing .housing-list article{

    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
 }

 .housing-list a article {
 background-color: white;
 box-shadow: 0px 0px 10px 0px #e0e0e0;

 }

/* Marseille */

#housing .housing-marseille{

    padding: 0%;
    margin: 0%;
  }

  .housing-marseille article{

    border-radius: 25px 0px 0px 25px;
   background-size: 2%;
    background-color: #F2F2F2;
 }  

  .housing-marseille h2{

    padding-left: 6%;
}  

#housing .housing-marseille{
    background-color: white;
     border-radius: 0%;
  
  }
 
  #housing .housing-marseille img{
 
     max-height: 110px;
 
  }

  #housing .housing-marseille {
    max-width: 100%; 
 }

/* ORGANISATION / FLEX */
 
#housing .marseille .hebergement-list {
    flex-direction: column;
}

#housing .housing-marseille a {
    width: 100%;
}   
 
/* Ordre Populaire / Marseille */  

 #housing .housing-marseille {
     order: 2;
     
 }
 
 #housing .populaire {
 
     order: 1;
 }
 
/* Activités */

#activite h2{

    padding-left: 6%;
    }

 #activite .column{

    padding-left: 20px;
    padding-right: 20px;
}

 #activite img{

    max-height: 130px;
 }

 #activite .activite-list .column {
     width: 100%;
 }
 
 .activite-list .column article,
 .activite-list .column.double article {
     
     margin-bottom: 20px;
 }

/* Footer */ 
 
 footer {
     flex-direction: column;
 }
 
 footer .column{
 
     margin-left: 2.5%;
 }
 
 
 /* Les plus populaires */
 
 #housing .populaire .housing-list a article img {
     border-radius: 25px 0px 0px 25px;
     width: 35%;
     height :150px;
     width: 150px;
     }
 
 #housing .populaire{

    border-radius: 0%;
 }
    
 #housing .populaire h2 {

    padding-left: 6%;
}