/* CSS Tablette */

/* Header */
header nav{
    height: auto;
}


/* Filtres */
#filters {
    flex-wrap: wrap;
}

/* Ordre section */

#housing .housing-marseille {
    order: 2;
    
}

#housing .populaire {

    order: 1;
}


/* Hébergements */
#housing {
    flex-direction: column;
    max-width: 100%;
}

#housing {

    padding-left: 0%;
    padding-right: 0%;
}

#housing .housing-marseille{

    max-width: 100%;
    margin-bottom: auto;
    padding-bottom: 5%;
   
}

#housing .populaire {
    width: 100%;
    padding: 0.5%;
   
}

#housing .housing-marseille img{

    max-height: none;
}

/* Activités */
#activite{

    padding-left: 2.5%;
    padding-right: 2.5%;
    max-width: 100%;
}

#activite .activite-list {
    flex-wrap: wrap;
    height: auto;
}

#activite .activite-list .column {
    width: 48%;
}

/* Footer */

footer {
    justify-content: space-between;
}

footer .column {
    width: auto;
}           