/* CSS Tablette */

/* @media screen and (max-width: 992px) */

#filters {
    flex-wrap: wrap;
}

#housing {
    flex-direction: column;
    max-width: 100%;
}

#housing {

    padding-left: 0%;
    padding-right: 0%;
}

#housing .housing-marseille{

    max-width: 100%;
    margin-bottom: auto;
    padding-bottom: 5%;
}


#activite {

   padding-left: 0%;
   padding-right: 0%; 
   max-width: 100%;
}

#housing .populaire {
    width: 100%;
    margin-bottom: auto;
    padding: 0%;
}

#activite .activite-list {
    flex-wrap: wrap;
    height: auto;
}

#activite .activite-list .column {
    width: 48%;
}

footer {
    justify-content: space-between;
}

footer .column {
    width: auto;
}           