/* CSS Mobile */

   body {
    padding: 0px 0px;
}

#housing {

    padding-left: 0% !important;
    margin-right: 0% !important;
}

#housing-marseille {

    padding-left: 0% !important;
    margin-right: 0% !important;
}

#housing .housing-marseille
{
 padding-left: 0% !important;
    margin-right: 0% !important;

}



#activite {

    padding: 0%;
    margin: 0%;
}

header {
    flex-direction: column;
}

header #logo {
    margin: auto;
}

header nav ul {
    margin: 0px -20px;
    padding: 0;
}

header nav ul li {
    width: 50%;
    padding: 20px;
    text-align: center;
    margin: 0px;
    border-top: none;
    border-bottom: 2px solid var(--grey);
}

.research-box button-research {
    border-radius: 15px;
}

.research-box button-research span {
    display: none;
}

.research-box button-research .fa-search {
    display: block;
}

#filters {
    flex-direction: column;
    align-items: flex-start;
}

#housing .marseille {
    order: 2;
    padding-left: 2.5%;
    padding-right: 2.5%;
    
}

#housing .populaire {
    order: 1;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

#housing .housing-marseille {
   max-width: 100%; 
}

.housing-marseille > div > div > a > article > img {

}


#housing .marseille .hebergement-list {
    flex-direction: column;
}

#housing .housing-marseille a {
    width: 100%;
}

#activite .activite-list .column {
    width: 100%;
}

.activite-list .column article,
.activite-list .column.double article {
    height: 250px;
    margin-bottom: 20px;
}

footer {
    flex-direction: column;
}