/* CSS Tablette */

#filters {
    flex-wrap: wrap;
}

#housing {
    flex-direction: column;
}

#housing {

    padding-left: 0% !important;
    margin-right: 0% !important;
}

#housing .housing-marseille,
#housing .populaire {
    width: 100%;
    margin-bottom: 20px;
}

#activite .activite-list {
    flex-wrap: wrap;
    height: auto;
}

#activite .activite-list .column {
    width: 48%;
}

footer {
    justify-content: space-between;
}

footer .column {
    width: auto;
}